* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  direction: rtl;
}

button {
  font: inherit;
  background: #1e88e5;
  padding: 0.5rem 2rem;
  color: #ffffff;
  border: none;
  margin: 0.5rem 0;
  border-radius: 5px;
  outline: none;
}
